<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ludo</title>
    <script src="https://unpkg.com/vue@3.5.34/dist/vue.global.js"></script>
    <script src="main.js" defer></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main id="app">
      <div id="board">
        <!-- 16 TOKENS -->
        <div v-for="n in 16" :class="['token', `token-${n}`, getColorForToken(n)]"></div>

        <!-- 4 BASES -->
        <div v-for="color in colors" :class="['base', color]">
          <div class="base-inner">
            <div class="token-stay" v-for="n in 4" :key="n"></div>
          </div>
        </div>

        <div class="home">
          <svg viewBox="0 0 100 100" class="center-triangle-svg">
            <polygon points="0,0 50,50 0,100" fill="url(#grad-red)"></polygon>
            <polygon points="0,0 100,0 50,50" fill="url(#grad-green)"></polygon>
            <polygon points="100,0 100,100 50,50" fill="url(#grad-yellow)"></polygon>
            <polygon points="0,100 50,50 100,100" fill="url(#grad-blue)"></polygon>
            <defs>
              <linearGradient id="grad-red" x1="0%" y1="0%" x2="100%" y2="50%">
                <stop offset="0%" stop-color="#d60e0e"></stop>
                <stop offset="100%" stop-color="#e40808"></stop>
              </linearGradient>
              <linearGradient id="grad-green" x1="0%" y1="0%" x2="50%" y2="100%">
                <stop offset="0%" stop-color="#27b327"></stop>
                <stop offset="100%" stop-color="#02db02"></stop>
              </linearGradient>
              <linearGradient id="grad-yellow" x1="100%" y1="0%" x2="50%" y2="50%">
                <stop offset="0%" stop-color="#d4d401"></stop>
                <stop offset="100%" stop-color="#e3e305"></stop>
              </linearGradient>
              <linearGradient id="grad-blue" x1="0%" y1="100%" x2="50%" y2="50%">
                <stop offset="0%" stop-color="#2b2bda"></stop>
                <stop offset="100%" stop-color="#0606cf"></stop>
              </linearGradient>
            </defs>
            <line x1="0" y1="0" x2="100" y2="100" stroke="#000" stroke-width="0.5"></line>
            <line x1="100" y1="0" x2="0" y2="100" stroke="#000" stroke-width="0.5"></line>
          </svg>
        </div>

        <div
          v-for="color in colors"
          :class="['gallery', color, {vertical: shouldGalleryBeVertical(color)}]"
        >
          <div class="path" v-for="pathN in 3" :key="pathN">
            <div
              :class="['cell', {colored: shouldCellBeColored(color, pathN, cellN)} ]"
              v-for="cellN in 6"
              :key="cellN"
            >
              <span v-if="shouldCellHaveArrow(color, pathN, cellN)" class="arrow">▶</span>
              <span v-if="shouldCellHaveStar(color, pathN, cellN)" class="star">☆</span>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
