:root {
  --board-size: calc(min(100vw, 100vh) - 2rem);
  --cell-size: calc(var(--board-size) / 15);
  --base-size: calc(6 * var(--cell-size));
  --base-inner-size: calc(5 * var(--cell-size));
  --home-size: calc(3 * var(--cell-size));
  --token-size: calc(0.875 * var(--cell-size));
  --token-stay-size: calc(1.25 * var(--cell-size));
  --token-stay-margin: calc(1.5 * (var(--cell-size)));

  --color-red: #d60e0e;
  --color-red-darker: #e40808;

  --color-green: #27b327;
  --color-green-darker: #02db02;

  --color-yellow: #d4d401;
  --color-yellow-darker: #e3e305;

  --color-blue: #2b2bda;
  --color-blue-darker: #0606cf;

  --grad-red: linear-gradient(to bottom, var(--color-red-darker), var(--color-red));
  --grad-blue: linear-gradient(to top, var(--color-blue-darker), var(--color-blue));
  --grad-green: linear-gradient(to bottom, var(--color-green-darker), var(--color-green));
  --grad-yellow: linear-gradient(to top, var(--color-yellow-darker), var(--color-yellow));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
}

#board {
  width: var(--board-size);
  height: var(--board-size);
  position: relative;
  border: 1px solid var(--grad-red);
  outline: 5px solid black;
}

.base {
  width: var(--base-size);
  height: var(--base-size);
  position: absolute;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.base-inner {
  width: var(--base-inner-size);
  height: var(--base-inner-size);
  border-radius: 50%;
  background-color: white;
}

.home {
  width: var(--home-size);
  height: var(--home-size);
  top: var(--base-size);
  left: var(--base-size);
  position: absolute;
  border: 1px solid black;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.gallery.vertical {
  flex-direction: row;
}

.path {
  display: flex;
}

.gallery.vertical .path {
  flex-direction: column;
}

.token-stay {
  width: var(--token-stay-size);
  height: var(--token-stay-size);
  border-radius: 50%;
  border: 2px dashed gray;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.token {
  width: var(--token-size);
  height: var(--token-size);
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: -2px 3px 2px 0 black;
}

/* absolute positioning of components */

.gallery.red {
  top: var(--base-size);
}

.gallery.green {
  top: 0;
  left: var(--base-size);
}

.gallery.yellow {
  top: var(--base-size);
  right: 0;
}

.gallery.blue {
  bottom: 0;
  left: var(--base-size);
}

.base.red {
  top: 0;
  left: 0;
  background-image: var(--grad-red);
}

.base.green {
  top: 0;
  right: 0;
  background-image: var(--grad-green);
}

.base.yellow {
  bottom: 0;
  right: 0;
  background-image: var(--grad-yellow);
}

.base.blue {
  bottom: 0;
  left: 0;
  background-image: var(--grad-blue);
}

.home {
  top: var(--base-size);
  left: var(--base-size);
}

.token-stay:nth-child(1) {
  top: var(--token-stay-margin);
  left: var(--token-stay-margin);
}

.token-stay:nth-child(2) {
  top: var(--token-stay-margin);
  right: var(--token-stay-margin);
}

.token-stay:nth-child(3) {
  bottom: var(--token-stay-margin);
  left: var(--token-stay-margin);
}

.token-stay:nth-child(4) {
  bottom: var(--token-stay-margin);
  right: var(--token-stay-margin);
}

.gallery.red .path:nth-child(2) .cell:not(:nth-child(1)),
.gallery.red .path:nth-child(1) .cell:nth-child(2) {
  background-color: var(--color-red);
}

.gallery.green .path:nth-child(2) .cell:not(:nth-child(1)),
.gallery.green .path:nth-child(3) .cell:nth-child(2) {
  background-color: var(--color-green);
}

.gallery.yellow .path:nth-child(2) .cell:not(:nth-child(6)),
.gallery.yellow .path:nth-child(3) .cell:nth-child(5) {
  background-color: var(--color-yellow);
}

.gallery.blue .path:nth-child(2) .cell:not(:nth-child(6)),
.gallery.blue .path:nth-child(1) .cell:nth-child(5) {
  background-color: var(--color-blue);
}

.arrow {
  font-size: 1.75rem;
}

.red .arrow {
  color: var(--color-red);
}

.green .arrow {
  color: var(--color-green);
  transform: rotateZ(90deg);
}

.yellow .arrow {
  color: var(--color-yellow);
  transform: rotateZ(180deg);
}

.blue .arrow {
  color: var(--color-blue);
  transform: rotateZ(-90deg);
}

.star {
  font-size: 2.75rem;
  transform: translateY(-2px);
}

.red .token {
  background-color: var(--color-red);
}

.green .token {
  background-color: var(--color-green);
}

.yellow .token {
  background-color: var(--color-yellow);
}

.blue .token {
  background-color: var(--color-blue);
}
