:root {
  --board-size: calc(min(100vw, 100vh) - 6vh);
  --cell-size: calc(var(--board-size) / 15);

  --base-size: calc(6 * var(--cell-size));
  --base-inner-size: calc(5 * var(--cell-size));
  --home-size: calc(3 * var(--cell-size));

  --token-size: calc(0.8 * var(--cell-size));
  --token-stay-size: calc(1.2 * var(--cell-size));
  --token-stay-margin: calc(1.5 * (var(--cell-size)));

  --star-size: calc(1.2 * var(--token-size));
  --star-translateY: calc(-0.1 * var(--token-size));
  --arrow-size: calc(0.8 * var(--token-size));

  --color-red: #d60e0e;
  --color-red-darker: #e40808;

  --color-green: #27b327;
  --color-green-darker: #02db02;

  --color-yellow: #d4d401;
  --color-yellow-darker: #e3e305;

  --color-blue: #2b2bda;
  --color-blue-darker: #0606cf;

  --grad-red: linear-gradient(to bottom, var(--color-red-darker), var(--color-red));
  --grad-blue: linear-gradient(to top, var(--color-blue-darker), var(--color-blue));
  --grad-green: linear-gradient(to bottom, var(--color-green-darker), var(--color-green));
  --grad-yellow: linear-gradient(to top, var(--color-yellow-darker), var(--color-yellow));
}

.red {
  --color-normal: var(--color-red);
  --color-darker: var(--color-red-darker);
  --grad: var(--grad-red);
}

.green {
  --color-normal: var(--color-green);
  --color-darker: var(--color-green-darker);
  --grad: var(--grad-green);
}

.yellow {
  --color-normal: var(--color-yellow);
  --color-darker: var(--color-yellow-darker);
  --grad: var(--grad-yellow);
}

.blue {
  --color-normal: var(--color-blue);
  --color-darker: var(--color-blue-darker);
  --grad: var(--grad-blue);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
}

#board {
  width: var(--board-size);
  height: var(--board-size);
  position: relative;
  border: 1px solid var(--grad-red);
  outline: 0.5vh solid black;
}

.base {
  width: var(--base-size);
  height: var(--base-size);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.25vh solid black;
  background: var(--grad);
}

.base-inner {
  width: var(--base-inner-size);
  height: var(--base-inner-size);
  border-radius: 50%;
  background-color: white;
}

.home {
  width: var(--home-size);
  height: var(--home-size);
  top: var(--base-size);
  left: var(--base-size);
  position: absolute;
  border: 0.1vh solid black;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1vh solid black;
}

.cell.colored {
  background-color: var(--color-normal);
}

.gallery {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.gallery.vertical {
  flex-direction: row;
}

.path {
  display: flex;
}

.gallery.vertical .path {
  flex-direction: column;
}

.token-stay {
  width: var(--token-stay-size);
  height: var(--token-stay-size);
  border-radius: 50%;
  border: 0.25vh dashed gray;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.token {
  width: var(--token-size);
  height: var(--token-size);
  position: absolute;
  z-index: 1;
  border: 0.1vh solid black;
  border-radius: 50%;
  box-shadow: 0 0.1px 0.4px 0.1vh black;
  background-color: var(--color-normal);
}

/* absolute positioning of components */

.gallery {
  &.red {
    top: var(--base-size);
  }

  &.green {
    top: 0;
    left: var(--base-size);
  }

  &.yellow {
    top: var(--base-size);
    right: 0;
  }

  &.blue {
    bottom: 0;
    left: var(--base-size);
  }
}

.base {
  &.red {
    top: 0;
    left: 0;
  }

  &.green {
    top: 0;
    right: 0;
  }

  &.yellow {
    bottom: 0;
    right: 0;
  }

  &.blue {
    bottom: 0;
    left: 0;
  }
}

.home {
  top: var(--base-size);
  left: var(--base-size);
}

.token-stay {
  &:nth-child(1) {
    top: var(--token-stay-margin);
    left: var(--token-stay-margin);
  }

  &:nth-child(2) {
    top: var(--token-stay-margin);
    right: var(--token-stay-margin);
  }

  &:nth-child(3) {
    bottom: var(--token-stay-margin);
    left: var(--token-stay-margin);
  }

  &:nth-child(4) {
    bottom: var(--token-stay-margin);
    right: var(--token-stay-margin);
  }
}

.star {
  font-size: var(--star-size);
  transform: translateY(var(--star-translateY));
}

.arrow {
  font-size: var(--arrow-size);
  color: var(--color-normal);
}

.green .arrow {
  transform: rotateZ(90deg);
}

.yellow .arrow {
  transform: rotateZ(180deg);
}

.blue .arrow {
  transform: rotateZ(-90deg);
}

/* .token-1 {
  transform: translate(
    calc((0 + 0.1) * var(--cell-size)),
    calc((6 + 0.1) * var(--cell-size))
  );
} */
